*{
}
body{
	background-color:gray;	
}
#container{
	width:800px;
	height:500px;
	border: 5px solid black;	
	background-color:white;
}
#banner{
	height:150px;
	width:100%;
background-color:blue;
float:left;
}
#menu{
height:350px;
width:200px;
background-color:orange;
float:left;
}

#menu ul{
	list-style-image:url("cruz.gif");

}



#main{
height:330px;
width:580px;
background-color:yellow;
float:left;
padding:10px;
}