*{
}
body{
	background-color:gray;	
}
#container{
	width:800px;
	height:500px;
	border: 5px solid black;	
	background-color:white;
}
#banner{
	height:150px;
	width:100%;
	background-color:blue;
	float:left;
	background-image:url('vino.jpeg');
	background-repeat:no-repeat;
	
}
#menu{
	height:350px;
	width:200px;
	background-color:orange;
	float:left;

}

.boton
{
	list-style:none;
}

#menu_superior{
	position:relative;
	top:90px;
	left:517px;
	
	
}

#menu_superior ul {
	
	background-color:white;
	width:270px;
	height:30px;
	padding:12px 5px 0px 8px;
}

#menu_superior li{
float:left;
margin:3px;

}

#menu_superior li a{
	display:block;
	
	width:80px;
	padding:2px 0px;
	text-decoration:underline;
	text-align:center;
	font-size:10px;
	color:green;
	background-color:white;
	border:1px solid blue;
}

#menu_superior li a:hover{
	color:white;
	background-color:black;

}


#menu ul{	
	margin:0px;
	padding:0px;
}

#menu li{
	margin:2px;
	padding:0px;
}

#menu li a{
	display:block;
	width:100px;
	padding:4px 0px;
	text-decoration:none;
	text-align:center;
	font-size:12px;
	color:white;
	background-color:black;
	border: 1px solid yellow;

}

#menu li a:hover{
	background-color:white;
	color: black;
	text-decoration:underline;

}

#main{
height:330px;
width:580px;
background-color:yellow;
float:left;
padding:10px;
}